<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" />
</head>

<body>
  <!-- NavBar starts -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbar">
    <div class="container">
      <img src="{{ url_for('static', filename='Images/healthcare.png') }}" alt="..." style="max-height: 20px;margin-right: 5px"/>
      <a class="navbar-brand" href="#">MEDCARE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/details">Details</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Predicition
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/heart">Heart Disease</a></li>
              <li><a class="dropdown-item" href="/diabetes">Diabetes Disease</a></li>
              <li><a class="dropdown-item" href="/cancer">Breast Cancer</a></li>
              <li><a class="dropdown-item" href="/kidney">Kidney Disease</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
        <a href="tel:108" class="btn btn-danger ms-auto">Emergency Call</a>
      </div>
    </div>
  </nav>
  <!-- NavBar ends -->

  <!--Carousel-->
  <!-- data-bs-ride="carousel" -->
  <div id="carouselExampleCaptions" class="carousel slide"  data-aos="fade-up" data-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="shape">
          <img src="https://avstechnolabs.com/Themeforest/Medicapps/assets/images/hero/05.svg" class="shape1" alt="#">
          <img src="https://avstechnolabs.com/Themeforest/Medicapps/assets/images/hero/01.svg" class="shape2" alt="#">
      </div>
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="carousel-caption">
              <p class="title">Machine Learning</p>
              <p>Use the Power of Machine Learning to Change the Life!</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mediaImg">
            <img src="{{ url_for('static', filename='Images/Doctor.png') }}" class=" w-100 center"
          alt="..."/>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="carousel-caption">
              <p class="title">Our Mission</p>
              <p>our mission to make it easy for clinicians to deliver the best care to every patient every time.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mediaImg">
            <img src="{{ url_for('static', filename='Images/Doctor2.png') }}" class=" w-100"
          alt="..." />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="carousel-caption">
              <p class="title">Best Accuracy</p>
              <p>combined the best data with best algorithm to provide you the best result</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mediaImg">
            <img src="{{ url_for('static', filename='Images/Doctor3.png') }}" class="w-100"
          alt="..." />
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--End  of carousel-->

  <!-- Modal Detail Card -->
  <div class="container mb-5" data-aos="fade-up" data-aos-delay="500">
    <h3 class="text-center bold my-5">Accuracy with Algorithm used</h3>
    <div class="data">
      <div class="row" id="counter-div">
        <div class="col-lg-3 col-sm-12">
          <div class="card rounded ModalCard media" style="width: 18rem">
            <img src="{{ url_for('static', filename='Images/sugar-blood-level.png') }}" class="card-img-top img"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title text-center">
                Diabetes Disease Machine Learning Model
              </h5>
              <p class="card-subtitle text-center text-muted">Random Forest Algorithm</p>
              <p class="card-text text-center h1 bold">
                <span class="counter">97.5</span>%
              </p>
              <div class="mx-5 text-center">
                <a href="/diabetes" class="btn btn-primary">Predict</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="card rounded ModalCard media" style="width: 18rem">
            <img src="{{ url_for('static', filename='Images/heart.png') }}" class="card-img-top img" alt="..." />
            <div class="card-body">
              <h5 class="card-title text-center">
                Heart Disease Machine Learning Model
              </h5>
              <p class="card-subtitle text-center text-muted">Random Forest Algorithm</p>
              <p class="card-text text-center h1 bold">
                <span class="counter">97.08</span>%
              </p>
              <div class="mx-5 text-center">
                <a href="/heart" class="btn btn-primary">Predict</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="card rounded ModalCard media" style="width: 18rem">
            <img src="{{ url_for('static', filename='Images/kidney.png') }}" class="card-img-top img" alt="..." />
            <div class="card-body">
              <h5 class="card-title text-center">
                Kidney Disease Machine Learning Model
              </h5>
              <p class="card-subtitle text-center text-muted">Random Forest Algorithm</p>
              <p class="card-text text-center h1 bold">
                <span class="counter">92.5</span>%
              </p>
              <div class="mx-5 text-center">
                <a href="/kidney" class="btn btn-primary ">Predict</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="card rounded ModalCard media" style="width: 18rem">
            <img src="{{ url_for('static', filename='Images/breast-cancer.png') }}" class="card-img-top img" alt="..." />
            <div class="card-body">
              <h5 class="card-title text-center">
                Breast Cancer Machine Learning Model
              </h5>
              <p class="card-subtitle text-center text-muted">Random Forest Algorithm</p>
              <p class="card-text text-center h1 bold">
                <span class="counter">96.49</span>%
              </p>
              <div class="mx-5 text-center">
                <a href="/cancer" class="btn btn-primary">Predict</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Detail Card ends -->


  <!-- Article -->
  <div class="container" data-aos="fade-up" data-aos-delay="500">
    <div class="mt-10">
      <div class="row">
        <div class="col-lg-6">
          <h1>A new approach to patient care with a cutting-edge Technology</h1>
          <div class="row my-5">
            <div>
              There is widespread concern that smart machines may pose a threat to humans. However, a comparison of human
              and machine behaviour suggests that the former may pose a bigger harm to human wellbeing than the latter. An
              examination of AI (artificial intelligence) faults and other human errors revealed that, despite their
              similarities, the types, probability, implications, and repercussions of those two categories of errors
              differ significantly.
              <br>
              <br>
              <br>
              <br>
              <br>
  
              <div class="row">
                <div class="wrapper">
                  <a href="https://internationaldirector.com/technology/ai-errors-vs-human-errors/"><span>Read More Here</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='Images/Doctor.png') }}" style="bottom: 0;" class="img-sm" />
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Article ends -->

  <!-- Appoinment Area Start -->
  <div class="container my-5 apponiment-card-info" data-aos="fade-up" data-aos-delay="500">
    <div class="card rounded">
      <div class="card-title text-center m-0">
        <h3>Appoinment</h3>
      </div>
      <div class="card-body" style="background-color: #1462c9">
        <div class="row">
          <div class="col-lg-9 col-12">
            <form action="#" method="post">
              <div class="row align-items-end">
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <select class="form-control" id="speciality">
                      <option>Regular Checkup</option>
                      <option>Specific Problem</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <select class="form-control" id="doctors">
                      <option>Doctors 1</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <input type="text" class="form-control" name="date" id="date" placeholder="Date" />
                  </div>
                </div>
                <div class="col-12 col-md-2">
                  <div class="form-group">
                    <input type="text" class="form-control" name="time" id="time" placeholder="Time" />
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name"
                      id="name" placeholder="Name" />
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="number"
                      id="number" placeholder="Phone" />
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="form-group">
                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email"
                      id="email" placeholder="E-mail" />
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="form-group mb-0">
                    <textarea name="message" class="form-control mb-0 border-top-0 border-right-0 border-left-0"
                      id="message" cols="30" rows="10" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-5 mb-0">
                  <div class="form-group mb-0">
                    <a class="btn btn-dark" href="mailto: lovepreet.11908810@lpu.in">Make an Appointment</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
            <div>
              <!-- Single Contact Info -->
              <div class="">
                <img src="{{ url_for('static', filename='Images/icons/alarm-clock.png') }}" alt="" />
                <p>Mon - Fri 10:00 - 20:00</p>
              </div>
              <!-- Single Contact Info -->
              <div class="">
                <img src="{{ url_for('static', filename='Images/icons/envelope.png') }}" alt="" />
                <p>+91-6283974087<br />lovepreet.11908810@lpu.in</p>
              </div>
              <!-- Single Contact Info -->
              <div class="">
                <img src="{{ url_for('static', filename='Images/icons/map-pin.png') }}" alt="" />
                <p>LPU, Jalandhar <br />Punjab</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Appoitment end Area-->

  <!-- Footer -->
  <footer class="text-white text-center text-lg-start bg-primary" data-aos="fade-up" data-aos-delay="500">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About Project</h5>

          <p>
            This project is the capstone project for the spring semester of
            2022. It uses machine learning algorithms (random forest,
            k-nearest neighbours, logistic regression, Naive Bayes) and a
            dataset of patient data from Kaggle to model and predict the
            existence of various diseases in patients, such as heart disease
            and diabetes.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Contact us</h5>
          <div class="card" style="width: 18rem; background-color: #081f3e">
            <div class="card-body">
              <form target="_blank" action="https://formsubmit.co/58fed1a290b57225a6afde2905c2519c" method="POST">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col mb-3">
                      <input type="text" name="name" class="form-control" placeholder="Full Name" required />
                    </div>
                    <div class="col mb-3">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required />
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <textarea placeholder="Your Message" class="form-control" name="message" rows="10"
                    required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">
                  Send Email
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Team Contact</h5>

          <div class="row mx-5">
            <div class="col">
              <p>
                Lovepreet Singh Gill <br>
                lovepreet.11908810@lpu.in <br>
                6283974987
              </p>
            </div>
            <div class="col">
              <p>
                R.Venkata Pavan Sai <br>
                pavandharamtej19@gmail.com <br>
                8688574150
              </p>
            </div>
          </div>
          <div class="row mx-5">
            <div class="col">
              <p>
                Katienefoa Soro <br>
                katienefoa.11900675@lpu.in <br>
                6283974987
              </p>
            </div>
            <div class="col">
              <p>
                G.Samara simha Reddy <br>
                samarasimha9876@gmail.com <br>
                7780729470
              </p>
            </div>
            <h4>Our supervisor</h4>
            <div class="col">
              <p>
                Dr.Amar Singh <br>
                Professor <br>
                School of Computer Applications <br>
                amar.23318@lpu.co.in <br>
                8628029515
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="">LPU</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- end of footer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/global.js') }}"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="https://kit.fontawesome.com/10512f35a4.js" crossorigin="anonymous"></script>
</body>

</html>