<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/heart.css') }}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="{{ url_for('static', filename='css/global.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>

    <!-- NavBar starts -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbar">
        <div class="container">
          <img src="{{ url_for('static', filename='Images/healthcare.png') }}" alt="..." style="max-height: 20px;margin-right: 5px"/>
            <a class="navbar-brand" href="#">MEDCARE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/details">Details</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Predicition
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/heart">Heart Disease</a></li>
                            <li><a class="dropdown-item" href="diabetes">Diabetes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About Us</a>
                  </li>
                </ul>
                <a href="tel:108" class="btn btn-danger ms-auto">Emergency Call</a>
            </div>
        </div>
    </nav>
    <!-- NavBar ends -->

    {% block content %}
    
    {% endblock %}

    {% block predict %}
    
    {% endblock %}

    <!-- Footer -->
  <footer class="text-white text-center text-lg-start bg-primary" data-aos="fade-up" data-aos-delay="500">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About Project</h5>

          <p>
            This project is the capstone project for the spring semester of
            2022. It uses machine learning algorithms (random forest,
            k-nearest neighbours, logistic regression, Naive Bayes) and a
            dataset of patient data from Kaggle to model and predict the
            existence of various diseases in patients, such as heart disease
            and diabetes.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Contact us</h5>
          <div class="card" style="width: 18rem; background-color: #081f3e">
            <div class="card-body">
              <form target="_blank" action="https://formsubmit.co/58fed1a290b57225a6afde2905c2519c" method="POST">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col mb-3">
                      <input type="text" name="name" class="form-control" placeholder="Full Name" required />
                    </div>
                    <div class="col mb-3">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required />
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <textarea placeholder="Your Message" class="form-control" name="message" rows="10"
                    required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">
                  Send Email
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Team Contact</h5>

          <div class="row mx-5">
            <div class="col">
              <p>
                Lovepreet Singh Gill <br>
                lovepreet.11908810@lpu.in <br>
                6283974987
              </p>
            </div>
            <div class="col">
              <p>
                R.Venkata Pavan Sai <br>
                pavandharamtej19@gmail.com <br>
                8688574150
              </p>
            </div>
          </div>
          <div class="row mx-5">
            <div class="col">
              <p>
                Katienefoa Soro <br>
                katienefoa.11900675@lpu.in <br>
                6283974987
              </p>
            </div>
            <div class="col">
              <p>
                G.Samara simha Reddy <br>
                samarasimha9876@gmail.com <br>
                7780729470
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="">test</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- end of footer -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/heart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </body>
</html>
